#calculate-container {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
}

#target-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 2px rgba(167, 167, 167, 0.701);
    margin-top: 25px;
} 

