#user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 200px;
}

.ticker-container {
    width: 100%;
    overflow: hidden;
    }
    .ticker-wrapper {
    width: 100%;
    padding-left: 100%;
    background-color: transparent;
    }
    @keyframes ticker {
    0% {
    transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(-25%, 0, 0);
        }
        50% {
            transform: translate3d(-50%, 0, 0);
            }
            75% {
                transform: translate3d(-75%, 0, 0);
                }
    100% {
    transform: translate3d(-100%, 0, 0);
    }
    }
    .ticker-transition {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear infinite;
    animation-name: ticker;
    animation-duration: 30s;
    }
    .ticker-transition:hover {
    /* animation-play-state: paused; */
    cursor: pointer;
    }
    .ticker-item {
    display: inline-block;
    padding: 0 2rem;
    }